= javascript_dev ['prototype/protoaculous.1.8.3.min','prototype/protoaculous.1.8.3.min']
= javascript_dev ['jquery/jquery-1.4.2.min.noconflict','jquery/jquery-1.4.2.min.noconflict']

= javascript_bundle 'common','mindpin'

= yield :javascripts