<%# 这个子模板用在随机阅读中的最近阅读记录中 %>
<div class="rss_item_meta boxfix marginb3" >
  <%=rss_item_feeling_icon(rss_item)%>
  <span class="fleft marginl5"><%= link_to truncate_u(h(rss_item.title),16),rss_item %></span>
</div>