<!-- 这个子模板用在个人页的阅读记录中 -->
<div class="rss_item_meta" >
  <h4 class="marginb3"><%= link_to h(rss_item.title),rss_item %></h4>
  <div class="boxfix">
    <div class="font12">
      <%= item_text_description(rss_item) %>
    </div>
  </div>
  <div class="quiet margint10">
    <span>
      <%=item_from_link(rss_item)%>
    </span>
  </div>
</div>
