<% content_cell :title=>t("page.messages.station_message") do%>
  <div class='page-selector'>
    <%= page_link :paper,t("page.messages.new_message"),:url=>new_message_path(:namespace=>"site_mail"),:method=>:get %>
  </div>
  <div class='page-selector'>
    <%# inbox_text = "#{t("page.messages.inbox")} <span id='total_unread_count'>#{current_user.inbox_unread_message_count_str}</span>" %>
    <%= page_link :paper,t("page.messages.inbox"),:url=>messages_path(:box=>'in'),:method=>:get%>
  </div>
  <div class='page-selector'>
    <%= page_link :paper,t("page.messages.outbox"),:url=>messages_path(:box=>'out'),:method=>:get%>
  </div>
  <div class='page-selector'>
    <%= page_link :paper,"#{t("page.messages.draftbox")}",:url=>messages_path(:box=>'draft'),:method=>:get%>
  </div>
  <%# tags = Message.tags_of(current_user,:joins=>["right join message_readings on messages.id = message_readings.message_id "],:conditions=>['message_readings.hidden = ? and message_readings.receiver_id=?',false,current_user.id]).each do |tag| %>
  <%#*<div class='page-selector'>%>
  <%#=page_link :paper, tag.value,:url=>messages_path(:tag_id=>tag.id) ,:method=>:get %>
  <%#*</div>%>
  <%# end %>
<% end %>