%h2
  MindPin v4 用户登录
  %span.other
    或
    =link_to '注册',signup_path

-tab_panel do
  -tabi "新用户登录" do
    =render :partial=>'users/parts/login_form',:locals=>{:login_fbox=>true}

  -tabi "v3旧版登录" do
    =render :partial=>'users/parts/v09_login_form',:locals=>{:login_fbox=>true}

= link_to "忘记密码了？",forgot_password_form_path

:javascript
  pie.tab.init();