- require_css 'index',true

.margint60.paddingb3em.push_1.grid_22
  .push_3.grid_9.alpha
    .index-login.rc10
      =link_to "v09_login",v09_login_path,:class=>"v09_login"
      .index_login_panel_content.rc5
        %h3
          MindPin v4 用户登录
          %span.font12.normal 或 #{link_to '注册',signup_path}
        =flash_info
        =render :partial=>'users/parts/login_form'
        =link_to "忘记密码了？",forgot_password_form_path