- require_css 'index',true

.margint60.paddingb3em.push_1.grid_22
  .push_3.grid_9.alpha
    .index-login.rc10
      =link_to "v10_login",login_path,:class=>"v10_login"
      .index_login_panel_content.rc5
        %h3
          MindPin 旧版用户登录 <span class="other quiet">v2009</span>
        =flash_info
        =render :partial=>'users/parts/v09_login_form'