%ul
  %li 
    =tabs_link_to '演示首页','/demo'
    =tabs_link_to '工作空间','/demo/workspace'
    =tabs_link_to '讨论话题','/demo/discuss'
    =tabs_link_to '参与者和群组','/demo/group'
    =tabs_link_to '讨论过程版本','/demo/repo'
    =tabs_link_to '附件和标注','/demo/attach'
    =tabs_link_to '内嵌工具','/demo/widget'