-require_css 'help',false

.font14
  %p
    用户互动以
    %a.tip{:tip=>'#discuss-desc'}> 讨论话题
    作为基础。讨论话题可以进行无限层级的回复，并且可以支持任意数量
    %a.tip{:tip=>'#joiner-desc'}> 参与者
    的
    %a.tip{:tip=>'#crossedit-desc'}> 共笔

=render :partial=>'demo/index/parts/discuss'

.hide
  #discuss-desc
    讨论话题是粒度从大到小的问题或观点叙述<br/>
    <br/>
    讨论的基本思想是：<br/>
    大的话题<span class='loud'>逐步拆分</span>成小的话题<br/>
    让更多的人参与到<span class='loud'>更具体</span>的话题中来

  #joiner-desc
    话题作者，或者<br/>
    在话题中进行过<span class='loud'>回复/编辑/标注行为</span>的用户<br/>
    都称为参与者。话题默认对所有用户都是公开的

  #crossedit-desc
    又称作协同编辑，许多作者共同对一个文档进行编辑<br/>
    协同编辑的基础是灵活高效率的版本控制<br/>
    我们使用性能经过检验的<span class='loud'>GIT Repo.</span>作为版本服务支撑
