-require_css 'help',false

.font14
  %p
    您好，这里是
    %span.loud> MindPin开发组
    正在开发中的
    %span.loud> 知识迭代产品
    的演示页面。
  %p
    在这里，您可以观看以下功能特性的演示或说明。
  %ul.help-items
    %li
      -link_to '/demo/workspace' do
        %span.onum> 1
        工作空间
        %span.kind> intro
    %li
      -link_to 'javascript:;' do
        %span.onum> 2
        讨论话题
        %span.kind> intro
    %li
      -link_to 'javascript:;' do
        %span.onum> 3
        参与者和群组
        %span.kind> intro
    %li
      -link_to 'javascript:;' do
        %span.onum> 4
        讨论过程版本
        %span.kind> intro
    %li
      -link_to 'javascript:;' do
        %span.onum> 5
        附件和标注
        %span.kind> intro
    %li
      -link_to 'javascript:;' do
        %span.onum> 6
        内嵌工具
        %span.kind> intro