-require_css 'help',false

.font14
  %p
    对话中可以嵌入其他工具组件，包括 MindPin 已经开发，和将来提供的工具。<br/>
    如
    %a.tip{:tip=>''}> 思维导图
    ，
    %a.tip{:tip=>''}> 投票组件
    <br/>
    或者根据 MindPin 相应接口实现的，调用第三方工具的小组件。
    
=render :partial=>'demo/index/parts/discuss'
  