-require_css 'help',false

.font14
  %p
    每个用户都能够建立若干个
    %a.tip{:tip=>'#workspace'}> 工作空间
    ，工作空间作为互动中心，支撑着
    %a.tip{:tip=>'#caiji'}> 信息/资源采集
    ，联系人
    %a.tip{:tip=>'#sns'}> 人际关系网络
    等社会化网络特性
    
    
#workspace.hide
  系统组织用户互动和信息交换的基础。<br/>
  一定程度上，可以看成是综合了“个人主页”和“群组主页”特性的一种特殊概念<br/>

#caiji.hide
  通过讨论中的<span class='loud'>输入</span>，订阅<span class='loud'>RSS源</span>，
  采用其他书签<span class='loud'>书签/笔记工具</span>，
  <span class='loud'>附件上传</span>等，来汇集信息的过程
  
#sns.hide
  SNS中的人际关系网络特性，包括：<br/>
  邀请<br/>好友的好友<br/>关注者互动<br/>
  等典型特性
  