<% if BookmarkEntry.f_by_user_and_url(current_user,bookmark_entry_url) %>
  <span>网址已经收集</span>
<%else%>
  <span>
    <%=link_to_remote "收集该网址",
      :url=>collector_create_path("entry[resource_meta][data][url]"=>bookmark_entry_url,
      "entry[resource_meta][type]"=>"BookmarkEntry",
      "entry[resource_meta][data][title]"=>bookmark_entry_title),
      :method=>:post%>
  </span>
<% end %>
<% urls = BookmarkEntry.relative_url(bookmark_entry_url) %>
<% if urls.blank? %>
  <div>没有相关资源</div>
<% else %>
  <div class="toggle">
    <a class="show_btn">相关资源(<%=urls.count%>)</a>
    <div class="toggle_box hide">
    <a class="hidden_btn">收起</a>
      <%urls.each do |url|%>
        <a href='<%=url%>' target='_blank' style="display:block;"><%=url%></a>
      <%end%>
    </div>
  </div>
<% end %>