- require_css 'index',true

.grid_24.margint60.paddingb3em

  .grid_9.push_7
    .login.padding15.marginb10
      %h3 
        欢迎访问，请在此登录
        %span.font12.normal 或 #{link_to '注册',signup_path}
      .marginb10=render :partial=>'auth/parts/login_form'
      =link_to "<em>&gt;</em> 忘记密码了？",forgot_password_form_path