<span>
  <span class="entry_type">
    <%= entry.type_str %>
  </span>
  <span id="entry_operations">
    <% if entry.resource_type == "TextEntry" %>
      <%= action_to "编辑",edit_text_entry_path(entry.resource) %>
    <% end %>
    <% if entry.resource_type == "FileEntry" %>
      <%= action_to "下载",entry.resource.content.url %>
    <% end %>
  </span>
</span>
