-require_css "views/simple_captcha"

#simple_captcha
  .simple_captcha_image.clearfix
    .fleft
      =@simple_captcha_options[:image]

  .simple_captcha_field
    .simple_captcha_label
      =@simple_captcha_options[:label]||'请输入图上的字母'
    =@simple_captcha_options[:field]


