<% content_cell do%>
  <h3>最近读过</h3>
  <% mplist @readings,:for=>Reading,:class=>"readings no-line" do |reading|%>
    <% readable = reading.readable %>
    <% if readable.is_a?(RssItem) %>
      <%= render :partial=>"/rss_items/recently_read_rss_item",:locals=>{:rss_item=>readable} %>
    <% end %>
  <% end %>
<% end %>
<%content_for :head do%>
  <%= stylesheet_link_tag "/stylesheets/views/share" %>
<%end%>