/*页面基础容器*/
body {
  margin: 0; }

.page-container {
  margin: 0; }

.page-content {
  overflow: visible;
  clear: both; }
  .page-content .cell {
    border: 2px solid #242438;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 10px #040307;
    -moz-box-shadow: 0 0 10px #040307;
    -webkit-box-shadow: 0 0 10px #040307;
    padding: 15px;
    margin-bottom: 10px;
    background: url(/images/themes/black/bg1.png) 0 -200px repeat-x;
    background-color: #252737;
    margin-top: -30px;
    margin-bottom: 60px; }
    .page-content .cell .cellhead {
      margin-bottom: 30px; }
      .page-content .cell .cellhead .avatared .logo {
        float: left;
        margin-right: 10px; }
      .page-content .cell .cellhead .avatared .hello {
        line-height: 36px; }

/*顶部*/
.page-head {
  height: 115px; }
  .page-head .nav {
    clear: both;
    overflow: hidden; }
    .page-head .nav .site-logo {
      width: 240px;
      height: 40px;
      margin: 25px 0 0 5px;
      float: left; }
      .page-head .nav .site-logo a {
        width: 240px;
        height: 40px;
        float: left;
        background-image: url(/images/mindpin.png); }
    .page-head .nav .start {
      float: right;
      margin: 25px 10px 0 0;
      overflow: hidden;
      line-height: 40px; }
      .page-head .nav .start span {
        float: left;
        margin-left: 20px; }
      .page-head .nav .start .home {
        padding-left: 18px;
        background: url(/images/piece/home.png) no-repeat 0 center; }
    .page-head .nav .userbox {
      float: right;
      height: 40px;
      border: solid 2px #242438;
      border-top: none;
      border-bottom-left-radius: 6px;
      -moz-border-radius-bottomleft: 6px;
      -webkit-border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      -moz-border-radius-bottomright: 6px;
      -webkit-border-bottom-right-radius: 6px;
      box-shadow: 0 0 5px #040307;
      -moz-box-shadow: 0 0 5px #040307;
      -webkit-box-shadow: 0 0 5px #040307;
      background: -moz-linear-gradient(-90deg, #2d2f44, #151624);
      background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#2d2f44), to(#151624));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2d2f44',endColorstr='#151624');
      padding: 0 6px;
      margin-right: 10px; }
      .page-head .nav .userbox .inner {
        padding-top: 10px; }
        .page-head .nav .userbox .inner .avatarname {
          float: left; }
          .page-head .nav .userbox .inner .avatarname .tiny {
            width: 20px;
            height: 20px; }
          .page-head .nav .userbox .inner .avatarname a {
            float: left;
            line-height: 24px; }
          .page-head .nav .userbox .inner .avatarname a.name {
            font-weight: bold;
            margin-left: 6px; }
        .page-head .nav .userbox .inner .sp {
          float: left;
          line-height: 24px;
          margin-left: 15px; }
  .page-head.basic {
    height: 90px; }

/*底部*/
.page-footer {
  line-height: 80px;
  overflow: hidden; }
  .page-footer .sitename {
    padding-left: 10px; }
  .page-footer .links {
    float: right;
    padding-right: 10px; }
