body{overflow:hidden;}
a.tab{display:inline-block;padding:2px 4px;
  -moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;
}
a.tab.active{color:white;background-color:black;}
a.tab{color:#666;background-color:white;}
.ui-button-span{
  border-color:#29447E #29447E #1A356E;
  background-color:#5B74A8;color:white;
  background-image:url(/images/piece/button-bg.png);
  background-position: 0 -48px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

