ul.help-items li, .product {
  font-size: 16px;
  padding: 15px;
  background-color: #0E0E1A;
  color: #999;
  margin-bottom: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  ul.help-items li a, .product a {
    display: block;
    overflow: hidden;
    text-decoration: none; }
  ul.help-items li span.onum, .product span.onum {
    display: inline-block;
    width: 22px;
    font-size: 18px;
    font-weight: bold;
    color: #7F95FF; }
  ul.help-items li span.kind, ul.help-items li span.sp, .product span.kind, .product span.sp {
    font-size: 18px;
    font-weight: bold;
    color: #7F95FF; }
  ul.help-items li span.kind, .product span.kind {
    float: right; }
  ul.help-items li:hover, .product:hover {
    color: white;
    background-color: #131421; }
    ul.help-items li:hover span.kind, ul.help-items li:hover span.sp, .product:hover span.kind, .product:hover span.sp {
      color: #bff740; }

.product {
  height: 100px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 12px -250px; }
  .product a.block {
    color: #999;
    height: 100px;
    width: 100%;
    padding: 10px 0; }
    .product a.block .info {
      padding-left: 100px;
      padding-right: 15px; }
    .product a.block:hover {
      color: #758060; }
  .product span.sp {
    color: #999; }
  .product:hover {
    background-position: 12px -50px; }
    .product:hover span.sp {
      color: #bff740; }

.product.demo {
  background-image: url(/images/help/demo.png); }

.product.mindmap {
  background-image: url(/images/help/mindmap.png); }

a.tip {
  border-bottom: dashed 1px;
  color: #6D8EC0; }
  a.tip:hover {
    text-decoration: none; }

ul.discuss {
  overflow: hidden; }
  ul.discuss li {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #0E0E1A;
    border-color: #0E0E16 #2E2E3C #2E2E3C #0E0E16;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px; }
    ul.discuss li .body {
      overflow: hidden; }
    ul.discuss li .logo.tiny {
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 10px; }
    ul.discuss li .content {
      font-size: 12px;
      float: left; }
      ul.discuss li .content span.uname {
        color: #FF7F2F; }
      ul.discuss li .content .attach {
        margin-top: 15px; }
        ul.discuss li .content .attach .at {
          float: left;
          padding: 10px;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          background-color: #000; }
          ul.discuss li .content .attach .at .logo {
            display: block;
            margin-bottom: 10px; }
      ul.discuss li .content .ceye {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #000;
        padding-right: 10px;
        background-image: url(/images/demo/eye.png);
        background-repeat: no-repeat;
        height: 24px;
        line-height: 24px;
        padding-left: 28px;
        margin-top: 10px;
        color: #888; }
      ul.discuss li .content .edit {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #000;
        padding-right: 10px;
        height: 24px;
        line-height: 24px;
        padding-left: 10px;
        margin-top: 10px;
        color: #888;
        float: left;
        margin-right: 10px; }
    ul.discuss li ul.discuss {
      margin-top: 10px;
      margin-left: 16px; }

.label {
  overflow: hidden; }
  .label .tiny {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px; }
  .label .content {
    width: 240px;
    font-size: 12px;
    float: left; }
    .label .content span.uname {
      color: #FF7F2F; }

.joiners {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #0E0E1A;
  border-color: #0E0E16 #2E2E3C #2E2E3C #0E0E16;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 15px;
  line-height: 36px; }
  .joiners .tiny {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    float: left; }
