.index-box .inner{zoom:1;}

.index-box-left{width:208px;}

.reg-button{background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/reg.png',sizingMethod='scale');
  text-indent:0;line-height:0;font-size:0;overflow:hidden;
}

.footer-preview-left{width:369px;float:left;}