body{background-color:#21223C;background-image:url(/images/index/index-bg.png);background-repeat:repeat-x;}
.page-content{color:#ddd;}
.login-form input.text{width:325px;}
.login-form .text{border:0px;}

h3{margin-bottom:15px;}

.login{border:1px solid #28283F;}
.login{-moz-border-radius:10px;-webkit-border-radius:10px;}
.login{background:url(/images/index/dialog-login-background.png);}
.login{-moz-box-shadow:0 0 10px #040307;-webkit-box-shadow:0 0 10px #040307;}
.login.dialog{background:url(/images/index/dialog-message-background.png);}

.index-footer{padding:9px;clear:both;overflow:hidden;color:white;}
.index-footer{position:relative;margin-top:-36px;clear:both;}

.reg-button{background-image:url(/images/reg.png);
   width:130px;height:44px;display:inline-block;text-indent:-200em;
   margin-top:0.6em;}

.reg-form{float:left;}
  .reg-form .reg-submit{margin-top:2em;}

  .reg-step-1 p{color:#7D706A;}


.fielderror{display:none;}

.v10_login{text-indent:-9999px;background:url(/images/index/v10_login.png) no-repeat 0px 0px;width:118px;height:111px;display:block;}
.v10_login{position:absolute;top:50px;left:-150px}
.v09_login{text-indent:-9999px;background:url(/images/index/v09_login.png) no-repeat 0px 0px;width:118px;height:111px;display:block;}
.v09_login{position:absolute;top:50px;left:-150px;}

ul.mplist li.mli{background-image:url(/images/themes/starry/linedotl.gif);background-repeat:repeat-x;background-position:top;}
ul.mplist li div.info_div{border-left:solid 20px #1C3D52;}

.index-login{border:solid 5px #FFE799;background-color: #FFF;}
  .index-login .v09_login{left:-120px;top:30px;}
  .index-login .v10_login{left:-120px;top:30px;}
  .index-login .index_login_panel_content{padding:8px 18px 10px 18px;border:1px solid #F3D15E;}
  .index_login_panel_content .login-form{margin:0;padding:0;}
  .index_login_panel_content .login-form .p label{float:left;width:50px;text-align:right;margin-right:10px;}
  .index_login_panel_content .login-form .p .text{float:left;width:140px;}
  .index_login_panel_content .login-form .login-submit{margin-top:1em;}

ul.index-bugs a{color:#666;}
ul.index-bugs a:hover{color:#666;}
ul.index-bugs li div.bug-div{border-bottom:dashed 1px #ccc;padding:4px 0;}