@import "../ui/misc";

form.login-form{
  input.text{width:304px;}
  .form_actions{width:318px;}
}

.dialog,.pad{
  border:1px solid #242438;
  @include border-radius(10px);
  @include box-shadow(0 0 10px #040307);
  padding:15px;
  margin-bottom:10px;
  h3{margin-bottom:15px;}
  input.text,textarea{
    border:0px;background-color:#C3CDF0;
  }
  .active{
    input.text,textarea{background-color:#CCEEFF !important;}
  }
  form{
    .fielderror{display:none;}
    .fieldWithErrors{
      .text, textarea{
        background-color:#F39D77;
      }
    }
  }
  .flash-error{
    @include gradient(#DF0024,#960014);
    text-shadow:1px 1px 0 #333;
    margin-bottom:15px;
    span{
      background-image:url(/images/piece/notice-error-icon.png);
      background-position:0 4px;
      background-repeat:no-repeat;font-size:14px;
      line-height:32px;height:32px;padding-left:27px;display:block;
    }
  }
}
.dialog{background:url(/images/index/dialog-login-background.png) repeat-x;}
.pad{background:url(/images/index/dialog-message-background.png) repeat-x;}

.dialog span.to_reg{font-size:12px;font-weight:normal;}
.dialog.index span.to_reg{display:none;}

.reg-button{
  background-image:url(/images/reg.png);
  width:130px;height:44px;display:inline-block;text-indent:-200em;
  margin-top:0.6em;
}

ul.index-bugs {
  a{
    color:#666;
    &:hover{color:#7F95FF;text-decoration:none;};
  }
  li div.bug-div{
    @include border-radius(4px);
    background-color:#131426;
    padding:5px;
    margin-bottom:5px;
    .ct{
      line-height:24px;
      float:left;
      margin-left:10px;
      width:260px;
    }
    .tiny{
      float:left;
      border:1px solid #C8C8C8;
      height:20px;
      width:20px;
    }
  }
}