form.login-form input.text {
  width: 304px; }
form.login-form .form_actions {
  width: 318px; }

.dialog, .pad {
  border: 1px solid #242438;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px #040307;
  -moz-box-shadow: 0 0 10px #040307;
  -webkit-box-shadow: 0 0 10px #040307;
  padding: 15px;
  margin-bottom: 10px; }
  .dialog h3, .pad h3 {
    margin-bottom: 15px; }
  .dialog input.text, .pad input.text {
    border: 0px;
    background-color: #C3CDF0; }
  .dialog .active input.text, .pad .active input.text {
    background-color: #CCEEFF !important; }
  .dialog form .fielderror, .pad form .fielderror {
    display: none; }
  .dialog form .fieldWithErrors .text, .dialog form .fieldWithErrors textarea, .pad form .fieldWithErrors .text, .pad form .fieldWithErrors textarea {
    background-color: #F39D77; }
  .dialog .flash-error, .pad .flash-error {
    background: -moz-linear-gradient(-90deg, #df0024, #960014);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#df0024), to(#960014));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#df0024',endColorstr='#960014');
    text-shadow: 1px 1px 0 #333;
    margin-bottom: 15px; }
    .dialog .flash-error span, .pad .flash-error span {
      background-image: url(/images/piece/notice-error-icon.png);
      background-position: 0 4px;
      background-repeat: no-repeat;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
      padding-left: 27px;
      display: block; }

.dialog {
  background: url(/images/index/dialog-login-background.png); }

.pad {
  background: url(/images/index/dialog-message-background.png); }

.dialog span.to_reg {
  font-size: 12px;
  font-weight: normal; }

.dialog.index span.to_reg {
  display: none; }

.reg-button {
  background-image: url(/images/reg.png);
  width: 130px;
  height: 44px;
  display: inline-block;
  text-indent: -200em;
  margin-top: 0.6em; }

/*以下未整理*/
ul.mplist li.mli {
  background-image: url(/images/themes/starry/linedotl.gif);
  background-repeat: repeat-x;
  background-position: top; }

ul.mplist li div.info_div {
  border-left: solid 20px #1C3D52; }

ul.index-bugs a {
  color: #666; }

ul.index-bugs a:hover {
  color: #666; }

ul.index-bugs li div.bug-div {
  border-bottom: dashed 1px #ccc;
  padding: 4px 0; }
