#simple_captcha {
  background: -moz-linear-gradient(-90deg, #c83914, #830300);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#c83914), to(#830300));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c83914',endColorstr='#830300');
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 4px;
  width: 200px;
  margin-bottom: 15px; }
  #simple_captcha .simple_captcha_image {
    height: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px white;
    background-color: #FFF;
    margin-bottom: 4px; }
  #simple_captcha .simple_captcha_field {
    padding: 4px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #FFDC73; }
    #simple_captcha .simple_captcha_field .simple_captcha_label {
      color: #574B27;
      margin-bottom: 5px; }
    #simple_captcha .simple_captcha_field input {
      border: 1px solid #CCA940;
      width: 150px !important;
      font-size: 12px;
      padding: 0;
      background-color: white; }
