html,body{overflow:hidden;height:100%;}
.page-container{height:100%;padding:0;margin:0;} /*ie6*/
.page-content{height:100% !important;width:100% !important;}/*background:#FBEB96;*/
.tools-paper{position:absolute;overflow:hidden;height:100%;width:100%;zoom:1;}

