html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
body{line-height:1.5;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
a img{border:none;}
a em{font-family:"宋体";font-style:normal;}
html{font-size:100.01%;}
body{font-size:75%;background:#fff;color:#222;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{font-size:2em;margin-bottom:.5em;}
h2{font-size:1.5em;font-weight:bold;line-height:1.8em;}
h3{font-size:1.2em;font-weight:bold;line-height:2em;}
h4{font-size:1.2em;font-weight:bold;}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6{font-size:1em;font-weight:bold;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0;}
p{margin:0 0 1.5em;}
p img.left{float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right{float:right;margin:1.5em 0 1.5em 1.5em;}
a:hover{text-decoration:underline;}
a{text-decoration:none;}
a{outline:none;}
a{cursor:pointer;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0;}
ul,ol{margin:0;}
ul{list-style-type:none;}
ol{list-style-type:decimal;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
table{margin-bottom:1.4em;}
th{font-weight:bold;}
thead th{background:#c3d9ff;}
th,td,caption{padding:0;}
tr.even td{background:#e5ecf9;}
tfoot{font-style:italic;}
caption{background:#eee;}
.small{font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large{font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide{display:none;}
.quiet{color:#999;}
.added{background:#060;color:#fff;}
.removed{background:#900;color:#fff;}
.bold{font-weight:bold;}
.normal{font-weight:normal;}
.textleft{text-align:left;}
.textright{text-align:right;}
.fleft{float:left!important;}
.fright{float:right!important;}
.boxfix{overflow:hidden;}
.wordwrap{word-wrap:break-word;word-break:break-all;-moz-binding:url('./wordwrap.xml#wordwrap');overflow:hidden;}
.haslayout{zoom:1;}
html,body{height:100%;}
.page-warp{min-height:100%;}
.page-container{overflow:visible;padding-bottom:90px;}
.page-footer{position:relative;margin-top:-90px;height:90px;clear:both;}
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;/;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
* html .clearfix,*:first-child+html .clearfix{zoom:1;}
hr{clear:both;float:none;width:100%;height:1px;margin:16px 0 16px;border:none;background:url(/images/piece/hl1.gif) repeat-x;}
hr.space{background:#fff;color:#fff;}
div.hr{height:16px;background:url(/images/piece/hl1.gif) repeat-x center;margin:0!important;padding:0!important;clear:both;}
div.hr hr{display:none;}
input.search-inner{background-image:url("/images/piece/search-inner.png");background-repeat:no-repeat;background-position:1px 1px;padding-left:21px!important;width:150px!important;}
input.search-btn{border:solid 1px #878D59;border-left:solid 1px #A9AD88;border-top:solid 1px #A9AD88;background-color:#E5ECAB;padding:1px 4px 2px;}
.ajax-page-loading{position:absolute;top:5px;left:5px;background-color:#FBF3AF;color:black;padding:3px 5px;font-weight:bold;-moz-border-radius:4px;-webkit-border-radius:4px;}
.loadingbox{overflow:hidden;}
.loading-img{float:left;background:url(/images/piece/blue_large.gif) no-repeat 0 0;width:32px;height:32px;display:inline-block;margin:0 8px;}
.tab-loading-tip{float:left;line-height:32px;display:inline-block;margin:0 8px;}
img.logo{border:solid 1px #eee;background-color:white;padding:1px;float:none;margin:0;display:inline-block;}
img.logo.b2{padding:2px!important;}
img.cur_big{cursor:url("/images/cursor/big.cur"),auto;}
a.username{color:#E8641B!important;}
a.username:hover{background-color:#DF6B31;color:white!important;text-decoration:none;}
img.logo-ss{padding:1px;float:none;margin:0;width:32px;height:32px;display:inline-block;}
img.logo-mid{border:solid 1px #eee;padding:1px;float:none;margin:0;width:80px;height:80px;display:inline-block;}
div.uv{width:60px;overflow:hidden;text-align:center;display:inline-block;margin-bottom:5px;}
div.uv div.l{padding:0 5px;height:52px;}
div.uv div.n{margin-top:3px;width:52px;overflow:hidden;padding:0 5px;}
.image_center_div{text-align:center;overflow:hidden;position:relative;display:table-cell;vertical-align:middle;}
.image_center_div p{position:static;*position:absolute;top:50%;vertical-align:middle;margin:0!important;}
.image_center_div p img{position:static;*position:relative;top:-50%;left:-50%;}
.mp-user-card{height:60px;}
.page-content span.line{padding:0 5px;position:relative;top:-1px;color:#999;}
.op{color:#3274D0;font-size:14px;}
.op:hover{color:white;font-size:14px;background-color:#3274D0;}
.flash-error{color:white;background-color:red;padding:3px 8px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.flash-notice{background:#FFF8CC;color:#935A00;padding:3px 8px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.flash-success{background:#D5FE62;color:#264409;padding:3px 8px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.quote_content{-moz-border-radius:5px;-webkit-border-radius:5px;}
body{margin:0;}
.page-container{margin:0;}
.page-content{overflow:visible;clear:both;}
.page-content .cell{border:2px solid #242438;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0 0 10px #040307;-moz-box-shadow:0 0 10px #040307;-webkit-box-shadow:0 0 10px #040307;padding:15px;margin-bottom:10px;background:url(/images/themes/black/bg1.png) 0 -200px repeat-x;background-color:#252737;margin-top:-30px;margin-bottom:60px;}
.page-content .cell .cellhead{margin-bottom:30px;position:relative;}
.page-content .cell .cellhead .avatared .logo{float:left;margin-right:10px;}
.page-content .cell .cellhead .avatared .hello{line-height:36px;font-size:14px;}
.page-content .cell .cellhead .actions{position:absolute;top:7px;right:0;}
.page-content .cell .cellhead .tabs ul{margin-top:15px;padding:6px 10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:solid 1px #464660;background-color:#222433;position:relative;overflow:hidden;}
.page-content .cell .cellhead .tabs ul li a{font-size:14px;float:left;line-height:26px;padding:0 8px;margin-right:10px;text-shadow:1px 1px #555;color:#ddd;text-decoration:none;}
.page-content .cell .cellhead .tabs ul li a:hover{background-color:#171826;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.page-content .cell .cellhead .tabs ul li a.selected{border-style:solid;border-width:1px;border-color:#0E0E16 #2E2E3C #2E2E3C #0E0E16;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#0E0E1A;font-weight:bold;}
.page-head{height:115px;}
.page-head .nav{clear:both;overflow:hidden;}
.page-head .nav .site-logo{width:240px;height:40px;margin:25px 0 0 5px;float:left;}
.page-head .nav .site-logo a{width:240px;height:40px;float:left;background-image:url(/images/mindpin.png);}
.page-head .nav .start{float:right;margin:25px 10px 0 0;overflow:hidden;line-height:40px;}
.page-head .nav .start span{float:left;margin-left:20px;}
.page-head .nav .start .home{padding-left:18px;background:url(/images/piece/home.png) no-repeat 0 center;}
.page-head .nav .userbox{float:right;height:40px;border:solid 2px #242438;border-top:none;border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;-webkit-border-bottom-left-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;box-shadow:0 0 5px #040307;-moz-box-shadow:0 0 5px #040307;-webkit-box-shadow:0 0 5px #040307;background:-moz-linear-gradient(-90deg,#2d2f44,#151624);background:-webkit-gradient(linear,0% 0,0% 100%,from(#2d2f44),to(#151624));filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2d2f44',endColorstr='#151624');padding:0 6px;margin-right:10px;}
.page-head .nav .userbox .inner{padding-top:10px;}
.page-head .nav .userbox .inner .avatarname{float:left;}
.page-head .nav .userbox .inner .avatarname .tiny{width:20px;height:20px;}
.page-head .nav .userbox .inner .avatarname a{float:left;line-height:24px;}
.page-head .nav .userbox .inner .avatarname a.name{font-weight:bold;margin-left:6px;}
.page-head .nav .userbox .inner .sp{float:left;line-height:24px;margin-left:15px;}
.page-head .nav .topbar{clear:right;float:right;margin:9px 4px 0 0;}
.page-head .nav .topbar ul{display:inline;clear:right;}
.page-head .nav .topbar ul li{display:inline;margin:0 15px 0 0;}
.page-head.basic{height:90px;}
.page-footer{line-height:80px;overflow:hidden;}
.page-footer .sitename{padding-left:10px;}
.page-footer .links{float:right;padding-right:10px;}
.quote-left{background-image:url("/images/quote.gif");vertical-align:middle;width:14px;height:18px;}
.quote-right{background-image:url("/images/quote.gif");background-position:right;vertical-align:middle;width:14px;height:18px;}
.font18{font-size:18px;}
.font16{font-size:16px;}
.font14{font-size:14px;line-height:22px;}
.font13{font-size:13px;}
.font12{font-size:12px;}
.font11{font-size:11px;font-family:MingLiu;}
.font10{font-size:10px;font-family:MingLiu;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
.margint2{margin-top:2px!important;}
.margint5{margin-top:5px!important;}
.margint8{margin-top:8px!important;}
.margint10{margin-top:10px!important;}
.margint20{margin-top:20px!important;}
.margint30{margin-top:30px!important;}
.margint60{margin-top:60px!important;}
.marginr2{margin-right:2px!important;}
.marginr5{margin-right:5px!important;}
.marginl2{margin-left:2px!important;}
.marginl5{margin-left:5px!important;}
.margin10{margin:10px!important;}
.marginl10{margin-left:10px!important;}
.marginr10{margin-right:10px!important;}
.marginr3em{margin-right:3em!important;}
.marginb3em{margin-bottom:3em!important;}
.marginb3{margin-bottom:3px;}
.marginb5{margin-bottom:5px;}
.marginb10{margin-bottom:10px;}
.marginb15{margin-bottom:15px;}
.marginb30{margin-bottom:30px;}
.relative{position:relative!important;}
.relative .put_at_tail{position:absolute;top:0;right:0;overflow:hidden;}
.absolute{position:absolute!important;}
.lineheight0{line-height:0;}
.lineheight16{line-height:16px;}
.lineheight29{line-height:29px;}
.lineheight36{line-height:36px;}
.paddingb30{padding-bottom:30px!important;}
.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.paddingl10{padding-left:10px;}
.paddingl20{padding-left:20px;}
.paddingb3em{padding-bottom:3em;}
.paddingb30{padding-bottom:30px;}
.width450{width:450px;}
.width500{width:500px;}
.width530{width:530px;}
.width550{width:550px;}
.width600{width:600px;}
.width630{width:630px;}
.width650{width:650px;}
.height52{height:52px;}
.height36{height:36px;}
.inlineblock{display:inline-block;}
.inline{display:inline;}
.inlineicon{display:inline-block;margin-left:2px;position:relative;top:3px;}
.rc10{-moz-border-radius:10px;-webkit-border-radius:10px;}
.rc5{-moz-border-radius:5px;-webkit-border-radius:5px;}
.colorddd{color:#ddd;}
.blackloud{color:#FF7F2F;}
.shadow{text-shadow:1px 1px 0 rgba(255,255,255,0.7);}
.overvisible{overflow:visible;}
.dev{background-color:#FBEB96;opacity:.2;}
.container_24{margin-left:auto;margin-right:auto;width:960px;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24{display:inline;float:left;margin-left:5px;margin-right:5px;}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16,.push_17,.pull_17,.push_18,.pull_18,.push_19,.pull_19,.push_20,.pull_20,.push_21,.pull_21,.push_22,.pull_22,.push_23,.pull_23{position:relative;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.container_24 .grid_1{width:30px;}
.container_24 .grid_2{width:70px;}
.container_24 .grid_3{width:110px;}
.container_24 .grid_4{width:150px;}
.container_24 .grid_5{width:190px;}
.container_24 .grid_6{width:230px;}
.container_24 .grid_7{width:270px;}
.container_24 .grid_8{width:310px;}
.container_24 .grid_9{width:350px;}
.container_24 .grid_10{width:390px;}
.container_24 .grid_11{width:430px;}
.container_24 .grid_12{width:470px;}
.container_24 .grid_13{width:510px;}
.container_24 .grid_14{width:550px;}
.container_24 .grid_15{width:590px;}
.container_24 .grid_16{width:630px;}
.container_24 .grid_17{width:670px;}
.container_24 .grid_18{width:710px;}
.container_24 .grid_19{width:750px;}
.container_24 .grid_20{width:790px;}
.container_24 .grid_21{width:830px;}
.container_24 .grid_22{width:870px;}
.container_24 .grid_23{width:910px;}
.container_24 .grid_24{width:950px;}
.container_24 .prefix_1{padding-left:40px;}
.container_24 .prefix_2{padding-left:80px;}
.container_24 .prefix_3{padding-left:120px;}
.container_24 .prefix_4{padding-left:160px;}
.container_24 .prefix_5{padding-left:200px;}
.container_24 .prefix_6{padding-left:240px;}
.container_24 .prefix_7{padding-left:280px;}
.container_24 .prefix_8{padding-left:320px;}
.container_24 .prefix_9{padding-left:360px;}
.container_24 .prefix_10{padding-left:400px;}
.container_24 .prefix_11{padding-left:440px;}
.container_24 .prefix_12{padding-left:480px;}
.container_24 .prefix_13{padding-left:520px;}
.container_24 .prefix_14{padding-left:560px;}
.container_24 .prefix_15{padding-left:600px;}
.container_24 .prefix_16{padding-left:640px;}
.container_24 .prefix_17{padding-left:680px;}
.container_24 .prefix_18{padding-left:720px;}
.container_24 .prefix_19{padding-left:760px;}
.container_24 .prefix_20{padding-left:800px;}
.container_24 .prefix_21{padding-left:840px;}
.container_24 .prefix_22{padding-left:880px;}
.container_24 .prefix_23{padding-left:920px;}
.container_24 .suffix_1{padding-right:40px;}
.container_24 .suffix_2{padding-right:80px;}
.container_24 .suffix_3{padding-right:120px;}
.container_24 .suffix_4{padding-right:160px;}
.container_24 .suffix_5{padding-right:200px;}
.container_24 .suffix_6{padding-right:240px;}
.container_24 .suffix_7{padding-right:280px;}
.container_24 .suffix_8{padding-right:320px;}
.container_24 .suffix_9{padding-right:360px;}
.container_24 .suffix_10{padding-right:400px;}
.container_24 .suffix_11{padding-right:440px;}
.container_24 .suffix_12{padding-right:480px;}
.container_24 .suffix_13{padding-right:520px;}
.container_24 .suffix_14{padding-right:560px;}
.container_24 .suffix_15{padding-right:600px;}
.container_24 .suffix_16{padding-right:640px;}
.container_24 .suffix_17{padding-right:680px;}
.container_24 .suffix_18{padding-right:720px;}
.container_24 .suffix_19{padding-right:760px;}
.container_24 .suffix_20{padding-right:800px;}
.container_24 .suffix_21{padding-right:840px;}
.container_24 .suffix_22{padding-right:880px;}
.container_24 .suffix_23{padding-right:920px;}
.container_24 .push_1{left:40px;}
.container_24 .push_2{left:80px;}
.container_24 .push_3{left:120px;}
.container_24 .push_4{left:160px;}
.container_24 .push_5{left:200px;}
.container_24 .push_6{left:240px;}
.container_24 .push_7{left:280px;}
.container_24 .push_8{left:320px;}
.container_24 .push_9{left:360px;}
.container_24 .push_10{left:400px;}
.container_24 .push_11{left:440px;}
.container_24 .push_12{left:480px;}
.container_24 .push_13{left:520px;}
.container_24 .push_14{left:560px;}
.container_24 .push_15{left:600px;}
.container_24 .push_16{left:640px;}
.container_24 .push_17{left:680px;}
.container_24 .push_18{left:720px;}
.container_24 .push_19{left:760px;}
.container_24 .push_20{left:800px;}
.container_24 .push_21{left:840px;}
.container_24 .push_22{left:880px;}
.container_24 .push_23{left:920px;}
.container_24 .pull_1{left:-40px;}
.container_24 .pull_2{left:-80px;}
.container_24 .pull_3{left:-120px;}
.container_24 .pull_4{left:-160px;}
.container_24 .pull_5{left:-200px;}
.container_24 .pull_6{left:-240px;}
.container_24 .pull_7{left:-280px;}
.container_24 .pull_8{left:-320px;}
.container_24 .pull_9{left:-360px;}
.container_24 .pull_10{left:-400px;}
.container_24 .pull_11{left:-440px;}
.container_24 .pull_12{left:-480px;}
.container_24 .pull_13{left:-520px;}
.container_24 .pull_14{left:-560px;}
.container_24 .pull_15{left:-600px;}
.container_24 .pull_16{left:-640px;}
.container_24 .pull_17{left:-680px;}
.container_24 .pull_18{left:-720px;}
.container_24 .pull_19{left:-760px;}
.container_24 .pull_20{left:-800px;}
.container_24 .pull_21{left:-840px;}
.container_24 .pull_22{left:-880px;}
.container_24 .pull_23{left:-920px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
* html .clearfix,*:first-child+html .clearfix{zoom:1;}