#facebox{position:absolute;top:0;left:0;z-index:100;text-align:left;}
#facebox .b{background:url(/images/plugins/facebox/b.png);}
#facebox .tl{background:url(/images/plugins/facebox/tl.png);}
#facebox .tr{background:url(/images/plugins/facebox/tr.png);}
#facebox .bl{background:url(/images/plugins/facebox/bl.png);}
#facebox .br{background:url(/images/plugins/facebox/br.png);}
#facebox .tl,#facebox .tr,#facebox .bl,#facebox .br{height:10px;width:10px;overflow:hidden;padding:0;}
#facebox .popup{position:relative;}
#facebox table{border-collapse:collapse;}
#facebox table td{border-bottom:0;padding:0;}
#facebox .body{padding:10px;background:#fff;width:370px;}
#facebox .loading{text-align:center;}
#facebox .image{text-align:center;}
#facebox img{border:0;margin:0;}
#facebox .footer{border-top:1px solid #DDD;padding-top:5px;margin-top:10px;text-align:right;}
#facebox_overlay{position:fixed;top:0;left:0;height:100%;width:100%;}
.facebox_hide{z-index:-100;}
.facebox_overlayBG{background-color:#000;z-index:99;}
* html #facebox_overlay{position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight+'px');}
#facebox .body{color:#222;}
#facebox h3.f_box{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background:-moz-linear-gradient(-90deg,#4086ff,#2b5aab);background:-webkit-gradient(linear,0% 0,0% 100%,from(#4086ff),to(#2b5aab));filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4086ff',endColorstr='#2b5aab');color:white;text-shadow:1px 1px 0 #333;letter-spacing:4px;margin:-7px -7px 10px;text-align:center;}
#facebox form .text,#facebox form textarea{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#eee;}
#facebox form .active .text,#facebox form .active textarea{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background-color:white;}
#facebox form .fieldWithErrors .text,#facebox form .fieldWithErrors textarea{background-color:#FEF1D9;border-color:#FCCC9C;}
#facebox form .fielderror{color:red;}
#facebox .flash-error{background:-moz-linear-gradient(-90deg,#df0024,#960014);background:-webkit-gradient(linear,0% 0,0% 100%,from(#df0024),to(#960014));filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#df0024',endColorstr='#960014');text-shadow:1px 1px 0 #333;margin-bottom:15px;}
#facebox .flash-error span{background-image:url(/images/piece/notice-error-icon.png);background-position:0 4px;background-repeat:no-repeat;font-size:14px;line-height:32px;height:32px;padding-left:27px;display:block;}
.tipsy{padding:5px;font-size:12px;position:absolute;z-index:100000;font-family:"Hybrea",sans-serif;}
.tipsy-inner{padding:5px 8px 4px 8px;background-color:black;color:white;max-width:300px;text-align:left;}
.tipsy-inner{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tipsy-inner{font-family:sans-serif;}
.tipsy-arrow{position:absolute;background:url('/stylesheets/ui/1-plugins/tipsy/tipsy.gif') no-repeat top left;width:9px;height:5px;}
.tipsy-n .tipsy-arrow{top:0;left:50%;margin-left:-4px;}
.tipsy-nw .tipsy-arrow{top:0;left:10px;}
.tipsy-ne .tipsy-arrow{top:0;right:10px;}
.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-4px;background-position:bottom left;}
.tipsy-sw .tipsy-arrow{bottom:0;left:10px;background-position:bottom left;}
.tipsy-se .tipsy-arrow{bottom:0;right:10px;background-position:bottom left;}
.tipsy-e .tipsy-arrow{top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right;}
.tipsy-w .tipsy-arrow{top:50%;margin-top:-4px;left:0;width:5px;height:9px;}
.CodeRay{background-color:#232323;border:1px solid black;font-family:'Courier New','Terminal',monospace;color:#E6E0DB;padding:3px 5px;overflow:auto;font-size:12px;margin:0 0 12px 0;}
.CodeRay pre{margin:0;padding:0;}
.CodeRay .an{color:#E7BE69;}
.CodeRay .c{color:#BC9358;font-style:italic;}
.CodeRay .ch{color:#509E4F;}
.CodeRay .cl{color:#FFF;}
.CodeRay .co{color:#FFF;}
.CodeRay .fl{color:#A4C260;}
.CodeRay .fu{color:#FFC56D;}
.CodeRay .gv{color:#D0CFFE;}
.CodeRay .i{color:#A4C260;}
.CodeRay .il{background:#151515;}
.CodeRay .iv{color:#D0CFFE;}
.CodeRay .pp{color:#E7BE69;}
.CodeRay .r{color:#CB7832;}
.CodeRay .rx{color:#A4C260;}
.CodeRay .s{color:#A4C260;}
.CodeRay .sy{color:#6C9CBD;}
.CodeRay .ta{color:#E7BE69;}
.CodeRay .pc{color:#6C9CBD;}
fieldset{padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend{font-weight:bold;font-size:1.2em;}
form label{display:block;}
input.text,textarea,select{margin:0;border:1px solid #bbb;font-size:14px;}
input.text{width:200px;height:1.5em;padding:5px 7px;overflow:hidden;}
input.checkbox{position:relative;top:2px;}
select{padding:1px;}
textarea{width:390px;height:54px;padding:4px 2px;}
form div.field{margin-bottom:15px;}
form div.field .submit{top:0;}
form .text,form textarea{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#ccc;}
form .active .text,form .active textarea{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#fff;}
form .fieldWithErrors .text,form .fieldWithErrors textarea{background-color:#F39D77;}
form .submit{height:32px;padding:0 11px;position:relative;top:1px;margin:0;font-weight:bold;font-size:1em;color:#333;text-shadow:1px 1px 0 #fff;white-space:nowrap;border:none;overflow:visible;background:#ddd;background:-moz-linear-gradient(-90deg,white,#e1e1e1);background:-webkit-gradient(linear,0% 0,0% 100%,from(white),to(#e1e1e1));filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='white',endColorstr='#e1e1e1');border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 1px 4px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);cursor:pointer;-webkit-font-smoothing:subpixel-antialiased!important;}
form .submit:hover{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);border-bottom-color:#0770a0;background:#0770a0;background:-moz-linear-gradient(-90deg,#0ca6dd,#0770a0);background:-webkit-gradient(linear,0% 0,0% 100%,from(#0ca6dd),to(#0770a0));filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');}
form .submit::-moz-focus-inner{border:0;}
form .submit.mousedown{background:-moz-linear-gradient(-90deg,#0770a0,#0ca6dd);background:-webkit-gradient(linear,0% 0,0% 100%,from(#0770a0),to(#0ca6dd));filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0770a0',endColorstr='#0ca6dd');}
form .form_actions{line-height:30px;}
textarea.adapt-packed,textarea#virtual_textarea{overflow:hidden;font-family:Tahoma,宋体;border:solid 1px;word-wrap:break-word;font-style:12px;line-height:18px;resize:none;}
textarea#virtual_textarea{position:absolute;left:-10000px;top:-10000px;height:0;}
textarea{overflow:auto;}
input.text{font-family:宋体;vertical-align:baseline;padding:10px 7px 4px;zoom:1;}
input.checkbox{position:relative;top:1px;}
form .submit{font-family:宋体;zoom:1;}
.minibutton{display:inline-block;height:23px;padding:0 0 0 3px;font-size:12px;font-weight:bold;color:#333;text-shadow:1px 1px 0 #fff;background:url(/images/modules/buttons/minibutton_matrix.png) 0 0 no-repeat;white-space:nowrap;border:none;overflow:visible;cursor:pointer;}
input[type=text]+.minibutton{margin-left:5px;}
button.minibutton::-moz-focus-inner{margin:-1px -3px;}
.minibutton.danger{color:#900;}
.minibutton>span{display:block;height:23px;padding:0 10px 0 8px;line-height:23px;background:url(/images/modules/buttons/minibutton_matrix.png) 100% 0 no-repeat;}
.minibutton:hover{color:#fff;text-decoration:none;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);background-position:0 -30px;}
.minibutton.danger:hover{background-position:0 -90px;}
.minibutton:hover>span{background-position:100% -30px;}
.minibutton.danger:hover>span{background-position:100% -90px;}
.minibutton.mousedown{background-position:0 -60px;}
.minibutton.danger.mousedown{background-position:0 -120px;}
.minibutton.mousedown>span{background-position:100% -60px;}
.minibutton.danger.mousedown>span{background-position:100% -120px;}
div.mplist-head{padding:5px 0 5px 8px;overflow:hidden;color:#2F66AC;font-weight:bold;margin:0 0 2px 0;background-color:#F2F5FC;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul.mplist ul.mplist{margin:6px 0 0 16px;}
ul.mplist ul.mplist li{background-image:none;}
ul.mplist.hide_empty_text span.empty{display:none;}
ul.mplist.empty{margin:0!important;}
ul.mplist li{margin:0;padding:0;overflow:hidden;}
ul.mplist li.editing{display:none;}
ul.mplist li.editing_form{background-color:inherit!important;}
ul.mplist li .logo80{float:left;overflow:hidden;width:90px;padding:5px 10px 10px 0;}
ul.mplist li .logo180{float:left;overflow:hidden;width:190px;text-align:center;}
ul.mplist li .logo280{float:left;overflow:hidden;width:300px;text-align:center;}
ul.mplist li .list-content{float:left;overflow:hidden;display:inline;}
ul.mplist li .clear{clear:both;}
ul.mplist li .attributes{float:left;overflow:hidden;padding:6px 0 0 0;}
ul.mplist li .attributes span.quiet{margin-right:9px;}
ul.mplist li .attributes span.padding10{padding:0 0 0 10px;}
ul.mplist li .operations{float:left;overflow:hidden;width:90px;text-align:right;padding:5px 0 0 0;margin:0;}
ul.mplist li .organigerpanel{float:left;overflow:hidden;width:90px;text-align:right;padding:5px 0 0 0;}
ul.mplist li .organigerpanel .organigerlogo{padding-left:30px;}
ul.mplist li .organigerpanel .favorite{margin-top:5px;padding-right:5px;}
ul.mplist li div.text{border:solid 2px #999;padding:4px;background-color:#ffc;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
ul.mplist li div.child-list{border:solid 2px #999;padding:4px;margin-left:10px;background-color:#fff;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
ul.mplist li a.right_btn{float:right;margin-right:5px;}
ul.mplist li a.left_btn{float:left;margin-right:5px;}
ul.mplist li a.absolute{position:absolute;}
ul.mplist span.empty{padding:5px 8px;display:block;color:#ccc;}
ul.mplist.pins{margin:0;}
ul.mplist.pins li{margin:0;padding:0;border:none;}
ul.mplist.pins li.mouseover{background-color:inherit;}
ul.mplist.pins li.mouseselected{background-color:inherit;}
ul.mplist.pins li.mouseselected div.pin-block .content{border-color:#5A8908;}
.attr{overflow:hidden;zoom:1;}
.attr .key{float:left;margin-right:9px;}
.attr .key60{float:left;margin-right:9px;width:60px;}
.attr .value{float:left;}
.attr .value p{margin:0;}
div.auto_complete{margin:0!important;padding:0 2px 0 0!important;}
div.auto_complete ul li.selected{background-color:#3274d0!important;color:white;}
.common_table{line-height:25px;}
.common_table thead th{padding:0 0 0 5px;color:#333;background-color:#F9FFED;}
.common_table td{vertical-align:top;line-height:20px;padding:5px 0 0 5px;margin:0;}
.common_table tbody td{border-top:dashed #ddd 1px;}
div.percentage_bar{display:inline-block;position:relative;top:2px;border:solid 1px #999;height:10px;}
div.percentage_bar div{height:100%;background:url(/images/piece/percentage_bg.png) right;}
.noticebox{list-style:none;}
.noticebox .notice{overflow:hidden;}
.noticebox .notice_content{float:left;}
.noticebox .notice_datetime{float:left;clear:left;}
.noticebox .close_notice{float:right;font-family:MingLiU;font-size:11px;}
ul.mplist li div.topic_mark{padding:0 6px;margin:0 5px 0 0;float:left;background:#FACD8A;color:#000;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
div.pin-block{margin:0 0 5px 0;overflow:visible;}
div.pin-block .content{border:solid 2px #eee;padding:3px 5px 4px 12px;overflow:hidden;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.pin-block .base{position:relative;cursor:pointer;opacity:0;}
div.pin-block .base:hover{opacity:1;}
div.pin-block .base .quick-continue{position:absolute;top:-9px;bottom:-9px;left:0;right:0;}
div.pin-block .base .quick-continue .icon{position:absolute;height:19px;left:2px;width:13px;top:-6px;background:url(/images/piece/continue.png) no-repeat;}
div.pin-block .base .quick-continue .border{position:absolute;height:3px;left:14px;right:5px;top:4px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:solid 2px #5590D2;background-color:white;}
ul.mplist.pins-section{margin:0;}
ul.mplist.pins-section li{margin:0 0 5px 0;padding:3px 5px 4px 12px;overflow:hidden;position:relative;background-color:#FBEB96;border:solid 2px #FBEB96;-moz-border-radius:12px;-webkit-border-radius:12px;}
ul.mplist.pins-section li.mouseover{border-color:#FBE25F;}
ul.mplist.pins-section li.mouseselected{border-color:#7D7237;font-weight:bold;}
ul.mplist.pins.no-border li div.pin-block .content{border-color:white!important;}
ul.mplist.tabs li{border:none;background-color:inherit;margin:0;padding:0;cursor:default;}
ul.mplist.tabs ul.mplist{border:none;}
ul.mplist.tabs span.empty{display:none;}
ul.mplist.tabs li>div.mpli-tab{margin:0 0 5px 20px;padding:0 0 0 6px;background-color:#FBF5D3;border:solid 2px #FBF5D3;border-right:none;overflow:hidden;-moz-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius-bottomright:0;-moz-border-radius-topright:0;-webkit-border-bottom-right-radius:0;-webkit-border-top-right-radius:0;}
ul.mplist.tabs li.mouseover>div.mpli-tab{border-color:#FFD600;border-style:solid none solid solid;}
ul.mplist.tabs li.mouseselected>div.mpli-tab{background-color:#FBEB96;border-color:#7D7237;border-style:solid none solid solid;}
ul.mplist.tabs li div.mpli-tab.disabled{color:#ccc!important;background-color:#FDFCF5!important;border-color:#FDFCF5!important;}
ul.mplist.attachments.nest{margin:10px 0 10px 0;border:none!important;overflow:hidden;}
ul.mplist.attachments.nest li{display:inline-table;border:solid 1px #eee;padding:3px;margin:0 5px 3px 0;position:relative;-moz-border-radius:3px;-webkit-border-radius:3px;-moz-box-shadow:1px 1px 2px #333;-webkit-box-shadow:1px 1px 2px #333;}
ul.mplist.attachments.list{margin:10px 0 10px 0;border:none!important;overflow:hidden;}
ul.mplist.attachments.list li{border-top:solid 1px #eee;padding:3px;margin:0 5px 3px 0;position:relative;}
ul.mplist li.mpli{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;background-color:#0E0E1A;color:#999;margin-bottom:1em;padding:1em;}
ul.mplist li.mpli div.info_div{overflow:visible;position:relative;}
ul.mplist li.mpli div.info_div div.checkbox{position:absolute;height:100%;left:-20px;top:0;}
ul.mplist li.mpli div.info_div div.checkbox input{margin-top:8px;}
ul.mplist li.mpli div.info_div div.decorate{position:absolute;left:-70px;}
ul.mplist li.mpli div.info_div.nb{border-left:none!important;margin-left:70px!important;}
ul.mplist li.mpli div.info_div.unread .mt{font-weight:bold;}
ul.mplist li.mpli div.info_div.unread .members{font-weight:bold;}
ul.mplist li.mpli div.info_div .has_draft{color:#C00;}
ul.mplist li.mpli.checkbox_selected div.info_div{background-color:#5485BD!important;color:white!important;}
.rss_item_div{border:solid 1px #E0E0E8;padding:6px 2px 5px 12px;}
.rss_item_div.selected{border:solid 2px #99C4FD;padding:5px 1px 4px 11px;}
.rss_item_div .brief{cursor:pointer;}
.rss_item_div.read .brief .title{font-size:14px;}
.rss_item_div.unread .brief .title{font-size:14px;font-weight:bold;}
.rss_item_div .brief .truncate_description{margin-left:10px;}
.rss_item_div .description .dcontent{margin-top:16px;font-size:13px;}
div.pagination{font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;padding:0;margin:3px 0;overflow:hidden;clear:both;}
div.pagination a,div.pagination span{float:left;height:16px;line-height:16px;padding:2px 5px;}
div.pagination a{margin:0 3px;border:1px solid #e9e9e9;text-decoration:none;color:#6d6c5d;background-color:#F0F3F7;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
div.pagination a:hover,div.pagination a:active{border:1px solid #d0bb99!important;color:#eb7c22;background:#fff;}
div.pagination a.prev_page,div.pagination a.next_page{border:1px solid #e9e9e9;}
div.pagination span.current{margin:1px 3px;border:0 solid #3274D0;font-weight:bold;color:#3274d0;}
div.pagination span.disabled{margin:0 3px;border:1px solid #eee;color:#ddd;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
div.pagination .prev_page{margin-left:0!important;}
div.pagination .next_page{margin-right:0!important;}