/* form.css */
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
form label {display: block;}

input.text, textarea, select {margin:0;border:1px solid #bbb;font-size:1em;}
input.text {width:200px;height:1.5em;padding:7px;overflow:hidden;}
input.checkbox {position:relative;top:2px;}
select{padding:1px;}
textarea {width:350px;height:100px;padding:4px 2px;}
textarea.autowidth {width:100% !important;}

/*mindpin form css*/
form div.field{margin-bottom:15px;}
form .text, textarea{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#ccc;}
form .active .text, .active textarea{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#fff;}
form .submit{height:2.5em;padding:0 11px;position:relative;top:1px;
   font-weight:bold;font-size:12px;color:#333;
   text-shadow:1px 1px 0 #fff;white-space:nowrap;border:none;overflow:visible;background:#ddd;
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');
   background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
   background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
   -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
   box-shadow:0 1px 4px rgba(0,0,0,0.3);
   cursor:pointer;
   -webkit-font-smoothing:subpixel-antialiased!important;}
form .button:hover{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);border-bottom-color:#0770a0;background:#0770a0;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');background:-webkit-gradient(linear,0% 0,0% 100%,from(#0ca6dd),to(#0770a0));background:-moz-linear-gradient(-90deg,#0ca6dd,#0770a0);}