/* form.css */
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
form label {display: block;}

input.text, textarea, select {margin:0;border:1px solid #bbb;font-size:1em;}
input.text {width:200px;font-size:12px;padding:7px;overflow:hidden;}
select{padding:1px;}
textarea {width:350px;height:100px;padding:4px 2px;}
textarea.autowidth {width:100% !important;}

/*mindpin form css*/
form div.field{margin-bottom:15px;}
form .text, textarea{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#ccc;}
form .active .text, .active textarea{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#fff;}