/* form.css */
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
form label {display: block;}
input.text, input.title, textarea, select {
  margin:0;border:1px solid #bbb;font-size:1em;font-family:宋体;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:200px;height:1.5em;padding:0.2em 0.25em;overflow:hidden;
  -moz-border-radius:3px;-webkit-border-radius:3px;}
select{padding:1px;}
textarea {width:350px;height:100px;padding:4px 2px;
  -moz-border-radius:3px;-webkit-border-radius:3px;}
textarea.autowidth {width:100% !important;}

/*普通表单*/
.common_form {display:block;margin:0 0 0 0;}
.common_form input{vertical-align:middle;}
.common_form p{margin:10px 0 0 0;overflow:hidden;}
.common_form div.p{margin:10px 0 0 0;overflow:hidden;}
.common_form div.p-vis div.p{overflow:visible !important;} /*用于某些宽度100%的textarea的父容器*/
.common_form div.left{float:left;}
.common_form span{line-height:20px;}
.common_form span.desc{margin:0 0 0 10px;color:#666;}
.common_form span.desci{margin:0 0 0 10px;color:#666;display:block;margin:0 0 0 120px;}
.common_form label{}
.common_form .title{width:250px;}
.common_form .area{padding:5px 5px;}
.common_form .side-logo{float:left;width:60px;padding-left:40px;}

/*button*/
.ui-button-span{
  border-style:solid; border-width:1px; display:inline-block;
  outline:none; vertical-align: bottom;
}
.ui-button-span:active{
  background-image: none;
}
  .ui-button-span .ui-button{
    padding:3px 4px 3px;border:none;display:block;overflow:visible;margin:0;
    background-color: transparent;color:white;cursor: pointer;
  }
  .ui-button-span .ui-button::-moz-focus-inner{border-color:transparent !important;}

.common_form div.fieldWithErrors{margin:0 10px 0 0 !important;display:inline-block;}
.common_form div.fieldWithErrors input{background:#FBE3E4;color:#8a1f11;}
.common_form div.fieldWithErrors input.text{border:solid 1px #C93102;}
.common_form div.fieldWithErrors textarea{background:#FBE3E4;color:#8a1f11;}

.common_form span.fielderror{color:#C93102;}

.reply_form label{width:45px !important;text-align:right;margin-right:15px;}
.reply_form div.indent,.reply_form p.indent{margin:10px 0 0 60px !important;}

#pin_input_form {margin:20px;}
#pin_input_form textarea{font-size:14px;overflow:hidden;}

/*单行标题表单*/
.title_form {}
.title_form .p {display:inline-block;}
.title_form .p label{font-size:14px;margin: 0 10px 0 0;}
.title_form .btn{border:solid 1px #878D59;border-left:solid 1px #A9AD88;border-top:solid 1px #A9AD88;background-color:#E5ECAB;padding:2px 7px 3px;}
.title_form .p.submit{margin:0 0 0 10px;}