/*inline-menu菜单样式*/
.menu-icon{
  background-color:black;width:13px;height:13px;cursor:pointer;margin:0;
  background:url(/images/piece/menu-down-up-13.png) 0 0 no-repeat;}
.menu-icon.menu-opened{
  background:url(/images/piece/menu-down-up-13.png) -14px 0 no-repeat;}

/*pie.html.Menu*/
ul.p_h_m{list-style:none;border:solid 1px #5690D2;margin:0;padding:1px 1px;
   background-color:#fff;position:absolute;z-index:999;
  -moz-border-radius:3px;-webkit-border-radius:3px;
  -moz-box-shadow: 1px 1px 2px #999;-webkit-box-shadow: 1px 1px 2px #999;}
ul.p_h_m li{padding:0;line-height:20px;height:20px;font-size:12px;margin:0;cursor:default;
  -moz-border-radius:2px;-webkit-border-radius:2px;}
ul.p_h_m li a{color:#4086FF;display:block;padding: 0 0 0 6px;}
ul.p_h_m .has_event{color:#4086FF;}
ul.p_h_m .no_event{color:#DBE7B4;}
ul.p_h_m .item-mouseover{background-color:#4086FF;color:white;}
ul.p_h_m .item-mouseover a{color:white;text-decoration:none;}