/*will_pageinate style*/
div.pagination{
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding:0;margin:3px 0;overflow:hidden;clear:both;}
div.pagination a,div.pagination span{
  float:left;height:16px;line-height:16px;padding:2px 5px;}
div.pagination a {
  margin:0 3px;border:1px solid #e9e9e9;text-decoration:none;color:#6d6c5d;background-color:#F0F3F7;
  -moz-border-radius:4px;-webkit-border-radius:4px;}
div.pagination a:hover, div.pagination a:active {
  border:1px solid #d0bb99 !important;color:#eb7c22;background:#fff;}
div.pagination span.current {
  margin:1px 3px;border:0px solid #3274D0;font-weight:bold;color:#3274d0;}
div.pagination span.disabled {
  margin:0 3px;border:1px solid #eee;color:#ddd;
  -moz-border-radius:4px;-webkit-border-radius:4px;}
div.pagination a.prev_page,div.pagination a.next_page {border:1px solid #e9e9e9;}
div.pagination .prev_page{margin-left:0px !important;}
div.pagination .next_page{margin-right:0px !important;}