.mp-stars .stars{overflow:hidden;position:relative;width:85px;height:17px;}
.mp-stars .stars .colorbar{position:absolute;top:0;width:85px;height:17px;opacity:0.7;filter:alpha(opacity=70);}
.mp-stars .stars .box{position:absolute;top:0;left:0;width:85px;height:17px;}
.mp-stars .stars .box .star{
  background:url(/javascripts/starbox/images/starbox/blue_star_17.png) no-repeat scroll left top transparent;
  width:17px;height:17px;float:left;}

.mp-stars .stars .box .star{
  *background:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/javascripts/starbox/images/starbox/blue_star_17.png',sizingMethod='scale');
}
