<%content_for :title do%>这里是首页<%end%>

<%content_for :sidepanel do%>

<%end%>

这是正常文字<br/>

<%=link_to '这是一个链接','javascript:void(0)'%><br/>

<%=qdatetimefull Time.now%><br/>

<div class="notice">notice</div>
<div class="error">error</div>
<div class="success">success</div>