-require_css 'help',false

.font18.bold.marginb30{:style=>'color:#7F95FF;'}
  MindPin Team Works

.grid_7.alpha
  .product.demo
    -link_to '/demo',:class=>'block' do
      .info
        %span.sp Discuss Board
        .desc.font12
          互动讨论，包含迭代，共笔，分支<br/>
          产品开发中..

.grid_7
  .product.mindmap
    -link_to 'http://www.mindpin.com',:target=>'_blank',:class=>'block' do
      .info
        %span.sp Mindmap Editor
        .desc.font12
          在线思维导图，支持多种格式<br/>
          产品已上线

.grid_7
  .product.demo
    -link_to '/pieui',:class=>'block' do
      .info
        %span.sp Pie Ui
        .desc.font12
          MindPin使用的Rails Ui库

