<% str = flash_info%>
<%=str.blank? ? '' : str + '<br/>' %>

<h2>找回密码</h2>

<div class="font14">在此输入您注册时使用的电子邮件地址，MindPin将给您发送一封包含密码重设链接信息的邮件，请您留意。</div>
<br/>

<%form_tag forgot_password_path do%>
  <span>邮件地址</span>
  <%= text_field_tag :email,"",:size=>25,:maxlength=>255,:class=>"text" %>
  <span class="ui-button-span">
    <%= submit_tag "发送",:class=>"ui-button" %>
  </span>
<%end%>
