<div class="boxfix">
  <div class="reg-form index-box-left">
    <h2>MindPin 用户注册 <span class="other">或<%=link_to '登录',login_path%></span></h2>
    <%=flash_info%>
    <%=render :partial=>'users/parts/signup_form'%>
  </div>

  <div class="reg-step-1 index-box-right">
    <div class="right-inner">
      <h2>注册新账号</h2>
      <br/>
      <p>MindPin v4 使用电子邮件地址登录，注册后，<span style="color:#C73115;">一封欢迎/激活邮件会发送到您的邮箱。</span>希望您使用有效邮箱注册。</p>
      <p>在预览版中，无论您是否激活邮箱，都只作为我们的用户统计信息，不会影响任何系统功能的使用。</p>
      <p>请使用<span style="color:#C73115;">纯中文或者纯英文数字</span>的用户名。</p>
      <p>——MindPin Team</p>
    </div>
    <div style="padding:18px;">
      已经注册了账号？ 请<%=link_to '直接登录',login_path%>
    </div>
  </div>
</div>