<% text_entry = entry.resource %>
<div style="padding:5px;margin:5px;background-color: rgb(212, 208, 200);">
  <span><%=truncate_u(text_entry.content.sanitize_clean,15)%></span>
  <span style="padding-left:20px;"><%="共 #{text_entry.length} 个字"%></span>
</div>