<% bookmark_entry = entry.resource %>
<div style="padding:5px;margin:5px;background-color: rgb(255, 250, 205);">
  <span><%=truncate_u(bookmark_entry.title,10)%></span>
  <a href="<%=bookmark_entry.url%>" target="_blank"><%=bookmark_entry.url%></a>
</div>