-login_fbox ||= false
-if login_fbox
  -action = {:controller=>'sessions',:action=>'login_fbox_create'}
  -html_param = {:class=>'login-form',:multipart=>true,:target => 'upload_frame'}
-action ||= {:controller=>'sessions',:action=>'create'}
-html_param ||= {:class=>'login-form'}

-form_tag(action,html_param) do
  .form_error.hide
  .field
    %label 电子邮箱
    =text_field_tag :email,params[:email]
  .field
    %label=t('activerecord.attributes.user.password')
    =password_field_tag :password,params[:password]
  .form_actions.clearfix
    .fleft.remember-me
      %span=check_box_tag :remember_me,params[:remember_me],false
      %span 记住我
    .fright
      =submit_tag '登 录',:class=>"button"