/*footer*/
html,body{height:100%;}
.page-warp{min-height:100%;}
.page-container{overflow:visible;padding-bottom:36px;}
.page-footer{position:relative;margin-top:-36px;height:36px;clear:both;}
/*Opera Fix*/
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;/}


.page-footer{line-height:36px;overflow:hidden;}
.page-footer .sitename{padding-left:10px;}
.page-footer .links{float:right;padding-right:10px;}