<% subscription_entry = entry.resource %>
<span class="ui-button-span">
  <%= link_to_remote "更新",:url=>subscription_entry_path(subscription_entry),:method=>:put,:html=>{:class=>'ui-button'} %>
</span>
<% mplist subscription_entry.rss_feed.rss_items,:for=>RssItem do |rss_item| %>
  <%= render :partial=>"/rss_items/info_rss_item",:locals=>{:rss_item=>rss_item} %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    new RssItemDescriptionController($('mplist_rss_items'));
  </script>
<% end %>