<% content_cell do %>
  <% cell_head do %>
    <span>
      <%= t("page.contacts.user_name") %>
    </span>
    <%= text_field_tag :factor,"",:size=>25,:maxlength=>255,:class=>"text" %>
    <span class="ui-button-span">
      <button id="search_button" class="ui-button"><%=t("page.form.find")%></button>
    </span>
  <% end %>

  <%mplist contacts ||=[],:for=>User,:partial=>'contactings/info_contacting' %>

<% end %>
<% content_for :javascripts do%>
  <script type="text/javascript">
    $("search_button").observe("click",function(){
      var url = "/contacts/find?q="+$("factor").value;
      window.location = url;
    });
  </script>
<% end %>