<% content_cell do %>
  <div class="padding5">
    <h2>联系人设置</h2>
    <% params[:bar] ||="contacting" %>
    <%bar_panel do%>
      <%bari "我关注的人",:url=>"/contacts/edit?bar=contacting"%>
      <%bari "关注我的人",:url=>"/contacts/edit?bar=contacters"%>
    <%end%>
    <%if params[:bar] == "contacting"%>
      <%mplist Contacting.host_id_equals(current_user.id),:for=>[:contacting,Contacting],:partial=>'contactings/info_contacting'%>
    <%else%>
      <%mplist Contacting.contact_id_equals(current_user.id),:for=>[:contacter,Contacting],:partial=>'contactings/info_contacter'%>
    <%end%>
  </div>
<% end %>