fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc; }

legend {
  font-weight: bold;
  font-size: 1.2em; }

form label {
  display: block; }

input.text, textarea, select {
  margin: 0;
  border: 1px solid #bbb;
  font-size: 14px; }

input.text {
  width: 200px;
  height: 1.5em;
  padding: 5px 7px;
  overflow: hidden; }

input.checkbox {
  position: relative;
  top: 2px; }

select {
  padding: 1px; }

textarea {
  width: 350px;
  height: 100px;
  padding: 4px 2px; }

/*mindpin*/
form div.field {
  margin-bottom: 15px; }
  form div.field .submit {
    top: 0px; }
form .text, form textarea {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ccc; }
form .active .text, form .active textarea {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #fff; }
form .fieldWithErrors .text, form .fieldWithErrors textarea {
  background-color: #F39D77; }
form .submit {
  height: 31px;
  padding: 0 11px;
  position: relative;
  top: 1px;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
  white-space: nowrap;
  border: none;
  overflow: visible;
  background: #ddd;
  background: -moz-linear-gradient(-90deg, white, #e1e1e1);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#e1e1e1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='white',endColorstr='#e1e1e1');
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased!important; }
form .submit:hover {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom-color: #0770a0;
  background: #0770a0;
  background: -moz-linear-gradient(-90deg, #0ca6dd, #0770a0);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#0ca6dd), to(#0770a0));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0'); }
form .form_actions {
  line-height: 30px; }
