@import "misc";

fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
form label {display: block;}

input.text, textarea, select {margin:0;border:1px solid #bbb;font-size:14px;}
input.text {width:200px;height:1.5em;padding:5px 7px;overflow:hidden;}
input.checkbox {position:relative;top:2px;}
select{padding:1px;}
textarea {width:390px;height:54px;padding:4px 2px;}

/*mindpin*/
form{
  div.field{
    margin-bottom:15px;
    .submit{top:0px;}
  }
  .text, textarea{
    @include border-radius(3px);
    background-color:#ccc;}
  .active{
    .text, textarea{
      @include border-radius(3px);
      background-color:#fff;
    }
  }
  .fieldWithErrors{
    .text, textarea{
      background-color:#F39D77;
    }
  }
  .submit{
    height:32px;padding:0 11px;position:relative;top:1px;margin:0;
    font-weight:bold;font-size:1em;color:#333;
    text-shadow:1px 1px 0 #fff;
    white-space:nowrap;border:none;overflow:visible;background:#ddd;
    @include gradient(#ffffff,#e1e1e1);
    @include border-radius(4px);
    @include box-shadow(0 1px 4px rgba(0,0,0,0.3));
    cursor:pointer;
    -webkit-font-smoothing:subpixel-antialiased!important;
    &:hover{
      $color1:#0770a0;
      $color2:#0ca6dd;
      color:#fff;
      text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
      border-bottom-color:$color1;background:$color1;
      @include gradient($color2,$color1);
    };
    &::-moz-focus-inner { border: 0; }
    &.mousedown{
      $color1:#0770a0;
      $color2:#0ca6dd;
      @include gradient($color1,$color2);
    }
  }
  .form_actions{line-height:30px;}
}

/*ui*/
textarea.adapt-packed,textarea#virtual_textarea{
  overflow:hidden;
  font-family:Tahoma,宋体;
  border:solid 1px;
  word-wrap:break-word;
  font-style:12px;
  line-height:18px;
  resize:none;
}
textarea#virtual_textarea{
  position:absolute;left:-10000px;top:-10000px;height:0px;
}