.joiners
  %img.logo.tiny{:src=>'/images/demo/zy.png'}
  %img.logo.tiny{:src=>'/images/demo/zgl.png'}
  .fleft{:tip=>'#hideuser'}
    %img.logo.tiny{:src=>'/images/demo/zfc.png'}
  %img.logo.tiny{:src=>'/images/demo/hg.png'}
  %img.logo.tiny{:src=>'/images/demo/pt.png'}
  .fleft
    %a{:tip=>'任何讨论话题的参与者都是自然形成的动态群组，可以加入常用群组列表'} 加入常用群组

%ul.discuss
  %li
    .body
      %img.logo.tiny{:src=>'/images/demo/zy.png'}
      .content
        %span.uname> 周瑜
        ：曹军来势凶猛，如何击退？
      
    %ul.discuss
      %li
        %img.logo.tiny{:src=>'/images/demo/zgl.png'}
        .content
          %span.uname> 诸葛亮
          ：我想应该从多个角度综合考虑，具体化一些
          
      %li
        %img.logo.tiny{:src=>'/images/demo/zf.png'}
        .content
          %span.uname> 张飞
          ：抢板凳！
          .ceye
            周瑜，诸葛亮　<span tipr='#ceye'>选择不看</span>
          
      %li
        %img.logo.tiny{:src=>'/images/demo/zgl.png'}
        .content
          %span.uname> 诸葛亮
          ：我提供一些资料供大家参考：<br/>
          曹军号称八十万，实际数量并没有这么多，应该在二十万左右。<br/>
          军队构成以北方人为主，不善水性。<br/>
          队伍人心散，长途跋涉，军马劳顿。
          .clearfix
          .edit
            诸葛亮，庞统　<span tipr='#edit'>编辑3次</span>
          
      %li
        %img.logo.tiny{:src=>'/images/demo/zgl.png'}
        .content
          %span.uname> 诸葛亮
          ：贴个战略地图给大家研究：
          .attach
            .at{:tipr=>'讨论中可以粘贴附件'}
              %img.logo{:src=>'/images/demo/cbmap_s.png',:style=>''}
              赤壁形势图
          
      %li
        .body
          %img.logo.tiny{:src=>'/images/demo/hg.png'}
          .content
            %span.uname> 黄盖
            ：曹军采取了“连环锁船”策略，我们可以用火攻来对付
        %ul.discuss
          %li
            .body
              %img.logo.tiny{:src=>'/images/demo/zy.png'}
              .content
                %span.uname> 周瑜
                ：火攻的办法，似乎缺乏下面的条件：<br/>
                我联军大量缺少箭矢，已经
                %a.tip{:tipr=>'#caochuan'}>来不及赶制
                <br/>
                %a.tip{:tipr=>'#dongfeng'}>风向
                一直对我联军不利，火攻很难奏效。
                .clearfix
                .edit
                  周瑜　编辑2次
                .edit
                  诸葛亮
                  　<span tipr='讨论参与者可以在其他人的发言上添加标注'>标注2次</span>
                  　<span tipr='标注可以随时隐藏和显示'>隐藏</span>
              

#caochuan.hide
  .label
    %img.logo.tiny{:src=>'/images/demo/zgl.png'}
    .content
      %span.uname> 诸葛亮
      ：我有一计“草船借箭”，能够解决这个问题 :)
      
#dongfeng.hide
  .label
    %img.logo.tiny{:src=>'/images/demo/zgl.png'}
    .content
      %span.uname> 诸葛亮
      ：我可以召唤大自然的力量，改变风向，以便发动火攻。
      
#ceye.hide
  可能总有一些人写和主题无关的发言，影响大家的讨论。<br/>
  任何人都可以随时隐藏掉这样的帖子。<br/>
  <span class='loud'>不用等“管理员”处理</span>。
  
#edit.hide
  已经写上去的发言，还可以再任意次修改。<br/>
  而且每次修改的版本都会被系统记录下来，便于大家查看:)
  
#hideuser.hide
  张飞一直在捣乱，所以刘备<span class="loud">隐藏了张飞所有发言</loud>