.comment-info.adminable:hover{-moz-box-shadow:0 0 5px #00AEC3;}
.comment-info.adminable .actions{display:none;position:absolute;top:5px;right:5px;}
.comment-info.adminable:hover .actions{display:block;}

.comment-info {border:1px solid #CACACA;margin:10px 0;}
.comment-info .meta{background-image:url(/images/comment/metabar.gif);
     height:33px;line-height:33px;overflow:hidden;padding:0 6px;border-bottom:1px solid #CCCCCC;}

.comment-info .username{color:#222 !important;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);}
.comment-info .tag, .comment-info .isme {-moz-border-radius:2px 2px 2px 2px;
  background-color:#2D90C3;border-color:#26749C #2D90C3 #2D90C3 #26749C;border-style:solid;border-width:1px;
  color:#FFFFFF;padding:1px 5px;position:relative;text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.2);top:7px;
  height:14px;line-height:14px;
}
.comment-info .isme{background-color:#787878;border-color:#616161 #787878 #787878 #616161;}

.comment-info .date{color:#777 !important;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);font-size:11px;}
.comment-info .tiny{height:20px;width:20px;border:1px solid #C8C8C8;margin-top:5px;}
.comment-info .cicon{background-image:url(/images/comment/icons.png);width:16px;height:16px;margin-top:9px;}


.comment-info .cbody{background-color:#FBFBFB;padding:0 6px;overflow:hidden;position:relative;}
.comment-info .cbody p{margin:12px 0 !important;}

ul.comments {overflow:visible;}
ul.comments li{background-image:none !important;overflow:visible;}