%p
  关于block的使用

%p
  .font18 1 使用block
  
  -str = capture do
    -mplist User.all,:for=>[:admin,User] do |user|
      =user.name
    
  :coderay
    #!ruby
    
    # Ruby code in erb
    # 使用block
    
    mplist User.all,:for=>[:admin,User] do |user|
      user.name # 这里是block 
    end
  
  :coderay
    #!xhtml
    
    <!-- generated HTML code: -->
    
    #{autoformat_xml(str)}
    
%p
  .font18 2 不用block
  
  -str = capture do
    -mplist User.all,:for=>[:admin,User],:partial=>'pieui/index/userpartial'
    
  :coderay
    #!ruby
    
    # Ruby code in erb
    # 不用block，自动根据规约寻找模板，或指定模板
    
    mplist User.all,:for=>[:admin,User]
    
  :coderay
    #!rhtml
  
    <!-- in users/parts/mpinfo_user.erb -->
    <%="我是\#{user.name}"%>
  
  :coderay
    #!xhtml
    
    <!-- generated HTML code: -->
    
    #{autoformat_xml(str)}