%p
  关于mplist的ul示例

%p
  .font18 1
  -str = capture do
    -mplist User.all do |user|
      =user.name
    
  :coderay
    #!ruby
    
    # Ruby code in erb
    # 不传for参数
    
    mplist User.all do |user|
      user.name
    end
  
  :coderay
    #!xhtml
    
    <!-- generated HTML code: -->
    <!-- classname 会标为 unknown -->
    <!-- id 是随机字串 -->
    
    #{autoformat_xml(str)}
    
%p
  .font18 2
  -str = capture do
    -mplist User.all,:for=>User do |user|
      =user.name
    
  :coderay
    #!ruby
    
    # Ruby code in erb
    
    mplist User.all,:for=>User do |user|
      user.name
    end
  
  :coderay
    #!xhtml
    
    <!-- generated HTML code: -->
    <!-- classname 会根据 for 参数标明 -->
    
    #{autoformat_xml(str)}
    
%p
  .font18 3
  
  -str = capture do
    -mplist User.all,:for=>[:all,User] do |user|
      =user.name
      
  -str1 = capture do
    -mplist User.all,:for=>[User.first,User] do |user|
      =user.name
    
  :coderay
    #!ruby
    
    # Ruby code in erb
    # 可以通过前缀以示区分 [:all,User]
    # 也可以是模型
    
    mplist User.all,:for=>[:all,User] do |user|
      user.name
    end

    mplist User.all,:for=>[User.first,User] do |user|
      user.name
    end
  
  :coderay
    #!xhtml
    
    <!-- generated HTML code: -->
    <!-- id 会改变 -->
    
    #{autoformat_xml(str)}
    
    #{autoformat_xml(str1)}