<%= render :partial=>"reports/info_report",:locals=>{:report=>report} %>
<% if report.handled? %>
  <span>已经处理</span>
  <% if report.reportable.forbidden? %>
    <span>已经禁止</span>
  <% else %>
    <span>忽略处理</span>
  <% end %>
<% else %>
  <%= link_to_remote "禁止该资源",:url=> admin_report_path(report,:forbidden=>true),:method=>:put %>
  <%= link_to_remote "忽略",:url=> admin_report_path(report,:forbidden=>false),:method=>:put %>
<% end %>

