- require_css 'index',true
- require_css 'bugs',false

- content_for :javascripts do
  :javascript
    new MarkableListComments("mplist_bugs",{markable:"bugs"})
    
.dialog
  = render :partial=>"/bugs/form_bug",:locals=>{:bug=>Bug.new}
  
  .margint20
    - mplist @bugs,:for=>Bug,:class=>'no-line'
  
  = will_paginate @bugs,{:position=>:paper}

  