<% content_cell do %>
  <div style="font-size:14px;">
    <p>
      <div>
        第一步： 请在“<%=@rss_feed.title%>”上发一篇文章(验证成功后这篇文章可以删掉)，
        在标题或者内容中包含下面这段文字：
      </div>
      <div style="color:red;">
        <%=@rss_feed.claim_code_of(current_user)%>
      </div>
    </p>
    <p>
      第二步： 点下面的按钮确定认领
    </p>
    <%=flash_info%>
    <%=button_to "确定认领",[:claim,@rss_feed],:method=>:put%>
  </div>
<%end%>