<% if params[:tabi] == "subscriber" %>
  <% subscribers = @rss_feed.subscribers %>
  <% subscribers.each do |user| %>
    <%= user_div user %>
  <% end %>
<% end %>

<% if params[:tabi] == "comments" %>
  <div style="clear:left;overflow:auto;">
      <%= render :partial=>"comments/parts/comments",:locals=>{:markable=>@rss_feed} %>
  </div>
<% end %>

<% if params[:tabi] == "introductions" %>
  <%=render :partial=>"introductions/parts/introduction",:locals=>{:introductable=>@rss_feed}%>
<% end %>