<% content_for :nav do%>
  <span class="line">|</span>
  <span>
    <%= pages_link '应用管理',
      :paper=>{:url=>admin_apps_path,:method=>:get}%>
  </span>
  <span class="line">|</span>
  <span>
    <%= link_to '举报中心',admin_reports_path %>
  </span>
  <span class="line">|</span>
<% end %>
