- bugs = Bug.find(:all,:order=>"created_at desc",:limit=>3)
%h3 意见/答疑
%a{:href=>'/bugs'}
  %em &gt;
  查看全部(#{Bug.count})
- mplist bugs,:class=>'no-line margint5 index-bugs' do |bug|
  .bug-div=link_to truncate_u(bug.content,32),"/bugs/#bug_#{bug.id}"