div.message_participants_inputer{margin:0;padding:0px;height:23px;border:1px solid #bbb;
  -moz-border-radius:3px;-webkit-border-radius:3px;
}
div.message_participants_inputer input.add_input{margin:3px;border:0;height:15px;}
div.message_participants_inputer div.user{display:inline;background-color:#e3eef8;padding:2px;height:14px;margin:0 0 0 3px;
  position:relative;top:1px;
  -moz-border-radius:3px;-webkit-border-radius:3px;
}
div.message_participants_inputer div.user a.remove{cursor:pointer;}
div.message_participants_inputer div.autocomplete {position:absolute;width:180px !important;border:1px solid #888;
  background-color:white;margin:0;padding:0;
}
div.message_participants_inputer div.autocomplete ul {list-style-type:none;margin:0;padding:0;}
div.message_participants_inputer div.autocomplete ul li.selected { background-color: #5ea1e9;}
div.message_participants_inputer div.autocomplete ul li {list-style-type:none;display:block;margin:0;padding:2px;height:30px;cursor:pointer;overflow:hidden;}

div.message_participants_inputer div.autocomplete ul li div.user_logo{float:left;overflow:hidden;margin:0 5px 0 0;}
div.message_participants_inputer div.autocomplete ul li div.user_name{float:left;overflow:hidden;line-height:28px;height:28px;}