.userbox
  .inner
    .avatarname{:'original-title'=>'打开个人主页'}
      -link_to current_user do
        =logo current_user,:tiny
      =link_to "#{current_user.name}",current_user,:class=>'name'
    .sp=link_to "公共区",'/',:'original-title'=>'看看大家都在做什么'
    .sp=link_to "随手夹",'javascript:;',:'original-title'=>'帮助您快速引用资源，<span class="loud">正在开发中..</span>'
    .sp=link_to "收件箱",'javascript:;',:'original-title'=>'处理站内消息，<span class="loud">正在开发中..</span>'
    .sp=link_to "用户设置",'/settings',:'original-title'=>'设置头像，昵称'
    .sp=link_to "退出",'/logout',:'original-title'=>'点这里退出登录'
    
- content_for :javascripts do
  = javascript_include_tag 'ui/nav'
    

  