-login_fbox ||= false
-if login_fbox
  -action = {:controller=>'sessions',:action=>'login_fbox_create'}
  -html_param = {:class=>'common_form login-form',:multipart=>true,:target => 'upload_frame'}
-action ||= {:controller=>'sessions',:action=>'create'}
-html_param ||= {:class=>'common_form login-form'}

-form_tag(action,html_param) do
  =hidden_field_tag :v09,true,:class=>'text'
  .form_error.hide
  .p
    %label
      用户名
    =text_field_tag :name,params[:name],:class=>'text'
  .p
    %label
      =t('activerecord.attributes.user.password')
    =password_field_tag :password,params[:password],:class=>'text'

  .login-submit
    .fleft.remember-me
      %span
        =check_box_tag :remember_me,params[:remember_me],false,:class=>'checkbox'
      %span
        =t('page.index.remember_me')
    .fright
      %span.ui-button-span
        =submit_tag t('page.index.login'),:class=>"ui-button"
