<div class="reportable">
  <%=meta report.reportable %>
</div>
<div class="user">
  <%= report.creator.name %>
</div>
<div class="reason">
  <%= report.reason_str %>
</div>
<div class="content">
  <%= report.content %>
</div>

<% if !report.handled? %>
  <span>信息正在等待管理员处理</span>
<% else %>
  <% if report.reportable.forbidden? %>
    <span>已经屏蔽该信息</span>
  <% else %>
    <span>举报无效，被忽略</span>
  <% end %>
<% end %>
