-file_name = repository_file_info.name
-kind = repository_file_info.kind
=link_to file_name,show_repo_file_path(repo_name,file_name)
=repository_file_info.author
=repository_file_info.email
=repository_file_info.date
=kind