- @mindpin_layout.grid = 'auto'
- @mindpin_layout.hide_nav = true
- @mindpin_layout.hide_footer = true
- @mindpin_layout.put_js_in_head = true

!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  =render :partial=>'layouts/parts/htmlhead'
  =render :partial=>'layouts/parts/htmlbody'