- @mindpin_layout.theme = 'black'
- @mindpin_layout.grid = 24
- @mindpin_layout.yield_partial = 'application'

!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  =render :partial=>'layouts/parts/htmlhead'
  =render :partial=>'layouts/parts/htmlbody'